.plashsale_text_style_setup{



        color: #F85606;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #F85606;
font-family: "Oleo Script";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;



}